{% extends 'index.html' %}

{% block content %}
    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-10 col-xl-10">
                                    
                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Payroll Report</p>
                                    
                                    <form method="POST" class="mb-5">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-primary btn-lg">Generate Payroll</button>
                                    </form>

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>User ID</th>
                                                    <th>Full Name</th>
                                                    <th>Normal Hours Worked</th>
                                                    <th>Overtime Hours Worked</th>
                                                    <th>Normal Hourly Rate</th>
                                                    <th>Overtime Hourly Rate</th>
                                                    <th>Salary</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for user_id, details in payroll_data.items %}
                                                    <tr>
                                                        <td>{{ user_id }}</td>
                                                        <td>{{ details.full_name }}</td>
                                                        <td>{{ details.normal_hours }}</td>
                                                        <td>{{ details.overtime_hours }}</td>
                                                        <td>${{ details.normal_hourly_rate }}</td>
                                                        <td>${{ details.overtime_hourly_rate }}</td>
                                                        <td>${{ details.salary }}</td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="7" class="text-center">No records available for the selected period.</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <form action="{% url 'export_to_excel' %}" method="POST">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <button type="submit" class="btn btn-primary btn-lg">Export to Excel</button>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
