{% extends 'index.html' %}

{% block content %}
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <h1 class="text-center mb-5">Monthly Report</h1>

                        <p>Here is the total time worked by each user for the month of {{ start_date }}:</p>

                        <!-- Example table -->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>Full Name</th>
                                    <th>Total Hours Worked</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user_id, details in user_hours.items %}
                                    <tr>
                                        <td>{{ user_id }}</td>
                                        <td>{{ details.full_name }}</td>
                                        <td>{{ details.total_hours }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
